@media (min-width: 1400px) {
  .gambar .gambarJumbotron {
    width: 500px !important;
  }
}
@media (max-width: 1400px) {
  .gambar .gambarJumbotron {
    width: 400px;
  }
  .jumbotron .hGaris {
    width: 50px;
  }
  .jumbotron .Garis1 {
    right: 30%;
    top: -50%;
  }
  .jumbotron .Garis2 {
    right: 25%;
    top: -40%;
  }
  .jumbotron .Garis3 {
    right: 20%;
    top: -30%;
  }
}

/* LG */
@media (max-width: 992px) {
  .jumbotron .hGaris {
    width: 40px;
  }
  .jumbotron .Garis1 {
    right: 40%;
    top: -40%;
  }
  .jumbotron .Garis2 {
    right: 30%;
    top: -35%;
  }
  .jumbotron .Garis3 {
    right: 20%;
    top: -30%;
  }
}

/* MD */
@media (max-width: 768px) {
  .jumbotron .container .perkenalan {
    padding: 30px;
  }
  .jumbotron .container .perkenalan h1 {
    font-size: 2.5rem;
  }

  .jumbotron .container .gambar {
    padding: 0px;
  }

  .jumbotron .hGaris {
    width: 40px;
    transform: rotate(90deg);
  }
  .jumbotron .Garis1 {
    top: -26%;
  }
  .jumbotron .Garis2 {
    top: -16%;
  }
  .jumbotron .Garis3 {
    top: -6%;
  }
}

/* SM */
@media (max-width: 576px) {
  .jumbotron .container .perkenalan {
    padding: 30px;
  }
  .jumbotron .container .perkenalan h1 {
    font-size: 2.3rem;
  }

  .jumbotron .container .gambar {
    padding: 0px;
  }

  .jumbotron .hGaris {
    width: 35px;
    transform: rotate(90deg);
  }
  .jumbotron .Garis1 {
    top: -26%;
  }
  .jumbotron .Garis2 {
    top: -16%;
  }
  .jumbotron .Garis3 {
    top: -6%;
  }
}
