@media (max-width: 1400px) {
  .jumbotron .hGaris {
    width: 40px;
  }
  .jumbotron .Garis1 {
    right: 15%;
    top: -35%;
  }
  .jumbotron .Garis2 {
    right: 10%;
    top: -30%;
  }
  .jumbotron .Garis3 {
    right: 5%;
    top: -25%;
  }
}
@media (max-width: 992px) {
  .jumbotron .hGaris {
    width: 40px;
  }
  .jumbotron .Garis1 {
    right: 15%;
    top: -35%;
  }
  .jumbotron .Garis2 {
    right: 10%;
    top: -30%;
  }
  .jumbotron .Garis3 {
    right: 5%;
    top: -25%;
  }
}
@media (max-width: 768px) {
  .jumbotron .hGaris {
    width: 40px;
  }
  .jumbotron .Garis1 {
    right: 15%;
    top: -35%;
  }
  .jumbotron .Garis2 {
    right: 10%;
    top: -30%;
  }
  .jumbotron .Garis3 {
    right: 5%;
    top: -25%;
  }
}
@media (max-width: 576px) {
  .jumbotron .hGaris {
    width: 40px;
  }
  .jumbotron .Garis1 {
    right: 15%;
    top: -35%;
  }
  .jumbotron .Garis2 {
    right: 10%;
    top: -30%;
  }
  .jumbotron .Garis3 {
    right: 5%;
    top: -25%;
  }
}
