.navbar {
  .navbar-brand {
    font-size: 1.8em;
  }
  .nav-link {
    font-size: 1.2em;
  }
}
.warna {
  color: #f3f4fa;
  color: #a5a6b5;
  color: #728da6;
  color: #454759;
  color: #728da6;
  color: #4f58a3;
}

// Jumbotron
.jumbotron {
  background-color: #f3f4fa;
  .perkenalan {
    p:nth-child(1) {
      margin: 0;
      padding-left: 3px;
      font-size: 1.6rem;
      font-weight: 600;
      color: #a5a6b5;
    }
    p:nth-child(3) {
      margin: 0;
      padding-left: 3px;
      font-size: 1.2rem;
      font-weight: 600;
      color: #a5a6b5;
    }
    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 12px;
      color: #0b0d12;
    }
  }
  .container {
    padding: 100px 0;
    .gambarJumbotron {
      width: 400px;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid #728da6;
      img {
        transform: scale(1.8);
        object-position: 7px;
      }
    }
  }
  a {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #f3f4fa;
  }
  .btn {
    margin-top: 30px;
    padding: 0.6rem;
    border-radius: 0.5rem;
    background-color: #4f58a3;
  }
  .btn:hover {
    opacity: 0.8;
    color: #f3f4fa;
    transform: scale(1.1);
  }
}
