.navbar {
  .navbar-brand {
    font-size: 1.8em;
  }
  .nav-link {
    font-size: 1.2em;
  }
}

.jumbotron {
  .container {
    padding-top: 100px;
    .gambarJumbotron {
      width: 400px;
      border-radius: 50%;
      border: 5px solid rgb(18, 119, 119);
      overflow: hidden;
      img {
        transform: scale(1.8);
        object-position: 7px;
      }
    }
  }
}
